.container-cardsModal {
  margin: 0;
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModal {
  color: white;
  width: 50%;
  height: 50vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 2px solid rgba(168, 168, 168, 0.3);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-radius: 0px;
  cursor: pointer;
}

.cardModal:hover {
  color: var(--bg-color-logo);
}

.cardModal:hover .overlayModal {
  transform: scale(15) translateZ(0);
}

.cardModal:hover .circleModalGrandes {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardModal:hover .circleModalPequenios {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardModal:hover .circleModalCoordinador {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardModal:hover .circleModalDocentes {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardModal:hover .circleModalLiderPpt {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cardModal:hover .circleModalPequenios:after {
  background-image: url("../../public/images/pequenios.jpg");
  background-size: cover;
  background-position: center;
}

.cardModal:hover .circleModalGrandes:after {
  background-image: url("../../public/images/grandes.jpg");
  background-size: cover;
  background-position: center;
}

.cardModal:hover .circleModalCoordinador:after {
  background-image: url("../../public/images/Coordinador.jpg");
  background-size: cover;
  background-position: center;
}

.cardModal:hover .circleModalDocentes:after {
  background-image: url("../../public/images/profesor.jpg");
  background-size: cover;
  background-position: center;
}

.cardModal:hover .circleModalLiderPpt:after {
  background-image: url("../../public/images/liderPpt.jpg");
  background-size: cover;
  background-position: center;
}

.cardModal:hover p {
  color: white;
}

.cardModal:active {
  transform: scale(1) translateZ(0);
}

.cardModal p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1;
  transition: color 0.3s ease-out;
}

.circleModalCoordinador {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalDocentes {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalPequenios {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalLiderPpt {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalPequenios:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/pequenios.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circleModalCoordinador:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/Coordinador.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circleModalDocentes:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/profesor.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circleModalLiderPpt:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/liderPpt.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circleModalGrandes {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalCoordinador {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalDocentes {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleModalGrandes:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/grandes.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.overlayModal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  z-index: 1;
  transition: transform 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .cardModal:hover .overlayModal {
    transform: scale(100) translateZ(0);
  }

  .container-cardsModal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .cardModal {
    width: 100%;
  }
}
