.container-cards {
  margin: 0;
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.estudiantes {
  --bg-color: #6094ce;
  --bg-color-light: #e2fced;
}
.pequenios {
  --bg-color: #4189ff;
  --bg-color-light: #e2fced;
}
.grandes {
  --bg-color: #515487;
  --bg-color-light: #e2fced;
}
.directivos {
  --bg-color: #25354c;
  --bg-color-light: #f0e7ff;
}

.coordinador {
  --bg-color: #ff735c;
  --bg-color-light: #f0e7ff;
}

.docentes {
  --bg-color: #ff4f5a;
  --bg-color-light: #f0e7ff;
}

.liderPpt {
  --bg-color: #1a2e35;
  --bg-color-light: #f0e7ff;
}

.card {
  color: white;
  width: 50%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 2px solid rgba(168, 168, 168, 0.3);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-radius: 0% !important;
  cursor: pointer;
}

.card:hover {
  color: var(--bg-color-logo);
}

.card:hover .overlay {
  transform: scale(30) translateZ(0);
}

.card:hover .circleEstudiantes {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circleDirectivos {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circleEstudiantes:after {
  background-image: url("../../public/images/estudiantes.jpg");
  background-size: cover;
  background-position: center;
}

.card:hover .circleDirectivos:after {
  background-image: url("../../public/images/directivos.jpg");
  background-size: cover;
  background-position: center;
}

.card:hover p {
  color: white;
}

.card:active {
  transform: scale(1) translateZ(0);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1;
  transition: color 0.3s ease-out;
}

.circleEstudiantes {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleDirectivos {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleEstudiantes:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/estudiantes.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circleDirectivos:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background-image: url("../../public/images/directivos.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.overlay {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  z-index: 1;
  transition: transform 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .card:hover .overlay {
    transform: scale(20) translateZ(0);
  }
}

@media screen and (max-width: 480px) {
  .container-cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
