@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("./cardsMenu.css");
@import url("./cardsModal.css");
@import url("./cardsMenuPrincipal.css");
@import url("./pagination.css");
@import url("./notFound.css");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.showScrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #186ade;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #186ade;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  visibility: block;
  z-index: 1000;
}

.showScrollBtn:hover {
  background-color: #fff;
  color: #186ade;
}

a{
  border: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
